li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
body {
  background:  url(../images/two-hamburgers-and-space-on-bottom_23-2147695662.jpg);
  background-size: cover; 
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
h1, h2 {
 color: white !
}